<ion-tabs (ionTabsDidChange)="onTabsDidChange($event)">
  <ion-tab-bar slot="bottom" class="ra-tab-bar">
    <ion-tab-button
      tab="home"
      href="/tabs/home"
      (click)="onTabButtonClick('home')"
    >
      <img class="tab-icon" src="assets/icons/home.svg" alt="" />
      <ion-label>Home</ion-label>
      @if (unread() > 0) {
        <span class="tab-badge">{{ unread() > 9 ? '9+' : unread() }}</span>
      }
    </ion-tab-button>

    <ion-tab-button
      tab="calendar"
      href="/tabs/calendar"
      (click)="onTabButtonClick('calendar')"
    >
      <img class="tab-icon" src="assets/icons/calendar.svg" alt="" />
      <ion-label>Calendar</ion-label>
      @if (persona() === 'angel' && openRequestCount() > 0) {
        <span class="tab-badge">{{ openRequestCount() > 9 ? '9+' : openRequestCount() }}</span>
      }
    </ion-tab-button>

    <ion-tab-button
      tab="ride-angels"
      href="/tabs/ride-angels"
      (click)="onTabButtonClick('ride-angels')"
    >
      <img class="tab-icon" src="assets/icons/users.svg" alt="" />
      <ion-label>{{ angelsTabLabel() }}</ion-label>
      @if (inviteCount() > 0) {
        <span class="tab-badge">{{ inviteCount() }}</span>
      }
    </ion-tab-button>

    <ion-tab-button
      tab="profile"
      href="/tabs/profile"
      (click)="onTabButtonClick('profile')"
    >
      <img class="tab-icon" src="assets/icons/user.svg" alt="" />
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
